@font-face {
    font-family: "tomahackregular";
    src: url("../fonts/tomahack-webfont.woff2") format("woff2"),
         url("../fontstomahack-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html {
    min-height: 100vh;
}

body {
  background: linear-gradient(rgb(124, 255, 248),rgb(92, 248, 240), rgb(46, 48, 170), rgb(37, 39, 141));
  font-family: "tomahackregular";
  max-width: 1400px;
  overflow-x: hidden;
  margin: auto;
}

/* ---  Homepage   --- */
.title{
    text-align: center;
    font-family: tomahackregular;
    font-weight: bold;
    font-style: normal;
    font-size: 80px;
    color: whitesmoke;
    text-shadow: 2px 2px 0px #000000b8;
    margin: auto;
    padding-bottom: 20px;
}

.index-bg{
    z-index: -2;
    background-image: url("../images/red-rope-c.png");
    background-position: center;
}

.h2 a h2 {
    font-family: tomahackregular;
    font-weight: bold;
    font-style: normal;
    font-size: 4vw;
    position: absolute;
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    z-index: 20;
    transform: translate(-50%, -50%);
    text-shadow: 3px 3px #191916;
}

.instructions{
    font-size: 20px;
    padding: 20px 10px;
    border: 5px ridge #ffffff;
    border-radius: 12px;
    background-color: aliceblue;
    box-shadow: 4px 5px 11px #0000006b;
}

.menu {
    border: 15px outset #ffffff;
    border-radius: 12px;
    position: relative;
    z-index: 10;
    width: 300px;
    height: 400px;
    box-shadow: 4px 5px 11px #0000006b;
}

/*------------------------------------Navbar*/


.navbar-nav li {
  margin-left: 60px;
  margin-right: 60px;
}

.bg-grey{
      background-color: #414744;
    text-shadow: 3px 3px 4px #0000008c;
}
